/* allow wrapping */
/* .o_control_panel_main {
  flex-wrap: wrap;
} */

/* full-width breadcrumb row */
/* .o_control_panel_breadcrumbs {
  flex: 0 0 100% !important;
  max-width: 100%;
} */

/* 50/50 layout below */
/* .o_control_panel_actions,
.o_control_panel_navigation {
  flex: 1 1 50%;
  max-width: 50%;
} */

.text-truncate {
  overflow: clip !important;
  text-overflow:inherit;
  white-space: nowrap;
}

.breadcrumb-item, .o_last_breadcrumb_item {
    font-size: large;
}