<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- tree view -->
        <record id="view_vit_market_mapper_tree" model="ir.ui.view">
            <field name="name">vit_market_mapper_tree</field>
            <field name="model">vit.market_mapper</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
                <list string="Market Mapper">
                    <field name="name" /> <!-- 1-->
                    <field name="product_value_analysis_id" /> <!-- 100-->
                    <field name="description" /> <!-- 1500-->
                </list>
            </field>
        </record>
        <!-- pivot view -->
        <record id="view_vit_market_mapper_pivot" model="ir.ui.view">
            <field name="name">vit_market_mapper_tree</field>
            <field name="model">vit.market_mapper</field>
            <field name="type">pivot</field>
            <field name="arch" type="xml">
                <pivot string="Market Mapper">
                    <field name="product_value_analysis_id" type="row"/>
                    <field name="gpt_prompt_id" type="row"/>
                    <field name="lang_id" type="row"/>
                </pivot>
            </field>
        </record>
        <!-- form view -->
        <record id="view_vit_market_mapper_form" model="ir.ui.view">
            <field name="name">vit_market_mapper_form</field>
            <field name="model">vit.market_mapper</field>
            <field name="type">form</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
                <form string="Market Mapper">
                    <header>
                        <button string="undefined" type="object" name="action_generate" />
                        <button string="undefined" type="object" name="action_create_audience_profiles" />
                        <button string="Reload" type="object" name="action_reload_view" icon="fa-refresh"/>
                    </header>
                    <sheet>
                        <div class="oe_button_box" name="button_box">
                            <button type="object" name="action_view_detail_audience_profiler_ids" class="oe_stat_button" icon="fa-search" >
                                <div class="o_form_field o_stat_info">
                                    <span class="o_stat_value">
                                        <field name="audience_profiler_ids_count" />
                                    </span>
                                    <span class="o_stat_text">Details</span>
                                </div>
                            </button>
                            <!--button type="object" name="action_view_detail" class="oe_stat_button" icon="fa-pencil-square-o"-->
                                <!--field name="detail_count" widget="statinfo" string="Detail(s)"/-->
                                <!--field name="detail_ids" invisible="1"/-->
                            <!--/button-->
                        </div>
                        <div class="oe_title">
                            <label for="name" class="oe_edit_only" string="Market Mapper Name"/>
                            <h1><field name="name" /></h1>
                        </div>
                        <group>
                            <group> <!-- left -->
                                <field name="description"  />
                                <field name="gpt_url" widget="url" />
                            </group>
                            <group> <!-- right -->
                                <field name="product_value_analysis_id"  />
                                <field name="gpt_prompt_id"  />
                                <field name="lang_id"  />
                            </group>
                        </group>
                        <notebook>
                            <page name="output" string="Output">
                                    <field name="output" widget="md_viewer" />
                            </page>
                            <page name="input" string="Input">
                                    <field name="input" widget="md_viewer" />
                            </page>
                            <page name="instructions" string="Instructions">
                                <group>
                                    <field name="general_instruction" />
                                    <field name="specific_instruction" />
                                </group>
                            </page>
                        </notebook>
                        <group name="note_group" col="6" class="mt-2 mt-md-0">
                            <group colspan="4">
                            </group>
                            <group class="oe_subtotal_footer oe_right" colspan="2" name="sale_total">
                            </group>
                            <div class="clearfix"/>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>
        <!-- search -->
        <record id="view_vit_market_mapper_search" model="ir.ui.view">
            <field name="name">vit_market_mapper</field>
            <field name="model">vit.market_mapper</field>
            <field name="arch" type="xml">
                <search string="Market Mapper">

                    <filter string="Name" name="filter_by_name" domain="[('name','=','')]" />
                    <filter string="Output" name="filter_by_output" domain="[('output','=','')]" />
                    <filter string="Input" name="filter_by_input" domain="[('input','=','')]" />
                    <filter string="Gpt Url" name="filter_by_gpt_url" domain="[('gpt_url','=','')]" />
                    <filter string="Description" name="filter_by_description" domain="[('description','=','')]" />
                    <filter string="General Instruction" name="filter_by_general_instruction" domain="[('general_instruction','=','')]" />
                    <filter string="Specific Instruction" name="filter_by_specific_instruction" domain="[('specific_instruction','=','')]" />
                    <field name="name" select="True"/>
                    <field name="output" select="True"/>
                    <field name="input" select="True"/>
                    <field name="gpt_url" select="True"/>
                    <field name="description" select="True"/>
                    <field name="general_instruction" select="True"/>
                    <field name="specific_instruction" select="True"/>
                    <field name="product_value_analysis_id" select="True"/>
                    <field name="gpt_prompt_id" select="True"/>
                    <field name="lang_id" select="True"/>
                    <group string="Group By..">
                        <filter string="Product Value Analysis" domain="[]" name="group_by_product_value_analysis_id" context="{'group_by':'product_value_analysis_id'}"/>
                        <filter string="Gpt Prompt" domain="[]" name="group_by_gpt_prompt_id" context="{'group_by':'gpt_prompt_id'}"/>
                        <filter string="Lang" domain="[]" name="group_by_lang_id" context="{'group_by':'lang_id'}"/>
                    </group>
                </search>
            </field>
        </record>
        <!-- kanban , to show image, please add image, image_512, image_1920, or image_small in the model -->
        <record id="view_vit_market_mapper_kanban" model="ir.ui.view" >
            <field name="name">vit_market_mapper</field>
            <field name="model">vit.market_mapper</field>
            <field name="arch" type="xml">
                <kanban version="7.0">
                    <field name="id" />
                    <templates>
                        <t t-name="card" class="flex-row">
                            <main class="p-2">
                                <h4>
                                    <a type="open"><field name="name"/></a>
                                </h4>
                            </main>
                        </t>
                    </templates>
                </kanban>
            </field>
        </record>
        <!-- graph -->
        <record id="view_vit_market_mapper_graph" model="ir.ui.view">
            <field name="name">vit_market_mapper</field>
            <field name="model">vit.market_mapper</field>
            <field name="arch" type="xml">
                <graph string="Market Mapper" type="bar">
                    <field name="product_value_analysis_id"/>
                </graph>
            </field>
        </record>
        <!-- action window -->
        <record id="action_market_mapper" model="ir.actions.act_window">
            <field name="name">Market Mapper</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">vit.market_mapper</field>
            <field name="view_mode">list,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                Click to add a new Market Mapper
                </p><p>

                </p>
            </field>
        </record>

        <menuitem id="menu_market_mapper" name="Market Mapper" parent="vit_ads_suhu_config_menu" action="action_market_mapper" sequence="30"/>
    </data>
</odoo>