<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- tree view -->
        <!--record id="view_market_mapper_tree" model="ir.ui.view">
            <field name="name">market_mapper_tree</field>
            <field name="model">vit.market_mapper</field>
            <field name="inherit_id" ref="vit_ads_suhu.view_vit_market_mapper_tree"/>
            <field name="arch" type="xml">
            </field>
        </record-->
        <!-- form view -->
        <record id="view_market_mapper_form" model="ir.ui.view">
            <field name="name">market_mapper_form</field>
            <field name="model">vit.market_mapper</field>
            <field name="type">form</field>
            <field name="inherit_id" ref="vit_ads_suhu.view_vit_market_mapper_form"/>
            <field name="arch" type="xml">
                <sheet position="before">
                    <img class="img-fluid mx-auto " alt="flow" src="/vit_ads_suhu_inherit/static/src/img/market_mapper.png"/>
                </sheet>              
            </field>
        </record>
        <!-- search -->
        <!--record id="view_market_mapper_search" model="ir.ui.view">
            <field name="name">market_mapper</field>
            <field name="model">vit.market_mapper</field>
            <field name="inherit_id" ref="vit_ads_suhu.view_vit_market_mapper_search"/>
            <field name="arch" type="xml">
            </field>
        </record-->
        <!-- action window -->
        <!--record id="vit_ads_suhu.action_market_mapper" model="ir.actions.act_window">
            <field name="name">Market Mapper</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">vit.market_mapper</field>
            <field name="view_mode">list,form,kanban,pivot,graph</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                Click to add a new Market Mapper
                </p><p>

                </p>
            </field>
        </record-->

        <!-- <menuitem id="menu_market_mapper" name="Market Mapper" parent="vit_ads_suhu_config_menu" action="action_market_mapper" sequence="30"/> -->
    </data>
</odoo>